.items-container {
    background-color: white;
    margin: 80px 89px 0 89px;
    padding: 48px 132px;
}

.list-page {
    background-color: #EEEEEE;
}

.list-page-name {
    color: #333333;
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
}
