.cls-1 {
    fill: #db1e30
}

.cls-2 {
    fill: none
}

.cls-3 {
    fill: #0099dc
}

.cls-4 {
    fill: #fff
}

.cls-5 {
    fill: #f4a717
}

.cls-6 {
    fill: #0a944a
}

.cls-7 {
    fill: #58595b
}

.header-logo {
    float: left;
    width: 140px;
    height: 35px;
    margin-right: 75px;
}
